.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 25.16rem;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}
/* header */
.card-image {
    height: 15.3rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
/* main content */
.card-main {
    padding: 42px 32px 0;
}
.card-content > p {
    font-size: 1.1rem;
    padding: 24px 0;
    line-height: 1.5rem;
}
.card-user {
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
}
.user > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-info > p:first-child {
    font-weight: 700;
}
.user-info > p:last-child {
    font-weight: 100;
}
.icon-share {
    position: relative;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
    z-index: 5;
}
.icon-share:hover {
    background-color: var(--very-dark-grayish-blue);
    transition: background-color 100ms linear;
}
.icon-share:hover .i-share {
    fill: var(--light-grayish-blue);
    transition: fill 200ms linear;
    animation: shareAnimation .2s linear;
}
@keyframes shareAnimation {
    to {
        transform: translateX(2px);
    }
}
.networks {
    position: absolute;
    top: 5px;
    left: -32px;
    width: 25.2rem;
    height: 75px;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    align-items: center;
    visibility: hidden;
}
.networks > p {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--grayish-blue);
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.icons-network {
    display: flex;
    height: 100%;
    align-items: center;    
}
.icons-network a {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width: 1024px) {
    .card {
        width: 730px;
        height: 280px;
        display: flex;
    }
    .card-image {
        flex: 1 0 285px;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    .card-image img {
        width: 120%;
    }
    .networks {
        justify-content: center;
        border-radius: 10px;
        width: 22rem;
        height: 50px;
        top: -50px;
        left: 58%;
    }
    .networks::after {
        content: '';
        display: block;
        position: absolute;
        top: 52px;
        border-width: 15px;
        border-style: solid;
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }
}